* { /* SELECIONA PROJETO TODO */
    
    margin: 0; /* AREA DE MARGEM NOS 4 LADOS DO PROJETO - FEITO PARA LISTA IR PRO CANTO */
    
    padding: 0; /* DISTANCIA ENTRE TODOS ELEMENTOS E A BORDA */
    
}

li { /* CSS QUE TRATA A LISTA */
    
    list-style: none; /* TIRA AS BOLINHA QUE FICA NA HORA QUE CRIA A LISTA */
    
}



@font-face { /* LINK PARA FONTE ULILIZADA NO SITE */
    
    font-family: "SF Pro Text Regular"; /* NOME DA FONTE */
    
    src: url("../css/fonts/sf-pro-text-regular.ttf") format("truetype"); /* LOCAL QUE ESTA A FONTE E FORMATO DA FONTE */
    
}

@font-face { /* LINK PARA FONTE ULILIZADA NO SITE */
    
    font-family: "SF Pro Text Bold"; /* NOME DA FONTE */
    
    src: url("../css/fonts/sf-pro-text-bold.ttf") format("truetype"); /* LOCAL QUE ESTA A FONTE E FORMATO DA FONTE */
    
}



.header-container .menu-icon{
    position: relative;
    visibility: hidden;
}

.header-container .close-icon{
  position: absolute;
  visibility: hidden;
}


body { /* ESTILO DO CORPO DO SITE */
    

    font-family: "SF Pro Text Regular", sans-serif; /* FONTE DO CORPO DO SITE, CASO NAO TENHA PEGA A OUTRA */
    
    color: #1d1d1f; /* COR DO TEXTO DO PROJETO */ 
    
}

h1 { /* TRATA DO TITULO */
    
    font-size: 56px; /* TAMANHO DA FONTE DOS H1 */
    
    letter-spacing: -1px; /* ESPACAMENTO ENTRE OS CARACTERES DO TEXTO */
    
}

h2 { /* TRATA DO SUBTITULO */
    

    font-family: "SF Pro Text Regular", sans-serif; /* FONTE DO CORPO DO SITE, CASO NAO TENHA PEGA A OUTRA */
    
    font-size: 28px; /* TAMANHO DA FONTE DO H2 */
    
    font-weight: 400; /* INTENSIDADE DO NEGRITO DA FONTE */
    
    letter-spacing: -1px; /* ESPACAMENTO ENTRE OS CARACTERES DO TEXTO */
    

}

.header { /* ESTILIZA A CLASSE HEADER (OU SEJA, O MENU) */
    

    
    position: relative;

    max-height: 10%;

    background: #333333; /* COR DA BARRA DE MENU */
    
    padding: 8.5px 0; /* DISTANCIA ENTRE TODOS ELEMENTOS E A BORDA DO MENU */
    
}


.header-container { /* ESTILIZA A LISTA DENTRO DA BARRA DE MENU */

    position: relative;

    display: flex; /* FAZ COM QUE A LISTA FIQUE NA HORIZONTAL */
    
    justify-content: space-between; /* NAVEGADOR DISTRIBUI ESPACO ENTRE OS ICONES */
    
    max-width: 980px; /* TAMANHO DO MENU */
    
    margin: 0 auto; /* DEIXA A LISTA (MENU) NO CENTRO DA TELA AUTOMATICAMENTE */
    
}

.header .search {

  position: relative;
  visibility: hidden;
  max-width: 1px;

}


.search-show .header-container .search{

  font-family: "SF Pro Text Regular", sans-serif;
  text-decoration: none;
  color:#1d1d1f;
  border-radius: 20px;
  position: center;
  background-color: #d6d6d6;
  visibility: visible;
  width: 800px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20%;
  height: 30px;
  
  
}

.search-show .header-container .close-icon{
  margin-top: 4px;
  visibility: visible;
  position: absolute;
  left: 88%;

}



::placeholder {


  color: #d6d6d6; /* COR DA LETRA DA PALAVRA DO MENU */
  
  text-decoration: none; /* TIRA A DECORAÇÃO DO TEXTO */
  
  font-size: 12px; /* TAMANHO DA FONTE DENTRO DO MENU */

  text-align: left;

  
}

.search-show {

  position: relative; 
  
  background: #333333; /* COR DA BARRA DE MENU */
  
  padding: 8.5px 0; /* DISTANCIA ENTRE TODOS ELEMENTOS E A BORDA DO MENU */

  background: #333333; /* COR DA BARRA DE MENU */

}



.search-show .header-container{

  visibility: hidden;

  position: relative;

  display: flex; /* FAZ COM QUE A LISTA FIQUE NA HORIZONTAL */
  
  justify-content: space-between; /* NAVEGADOR DISTRIBUI ESPACO ENTRE OS ICONES */
  
  max-width: 980px; /* TAMANHO DO MENU */
  
  margin: 0 auto; /* DEIXA A LISTA (MENU) NO CENTRO DA TELA AUTOMATICAMENTE */
  
}



.header-container li a { /* ESTILIZA O HEADER CONTAINER LI A  */    

    color: #d6d6d6; /* COR DA LETRA DA PALAVRA DO MENU */
    
    text-decoration: none; /* TIRA A DECORAÇÃO DO TEXTO */
    
    font-size: 14px; /* TAMANHO DA FONTE DENTRO DO MENU */
    
    letter-spacing: -0.01em; /* DETERMINA O ESPACO ENTRE OS CARACTERES DA PALAVRA DO MENU */
    
}

.aviso { /* TRATA DA BARRA EMBAIXO DO MENU */
    

    text-align: center; /* COLOCA A FRASE DENTRO DA BARRA NO CENTRO */
    
    font-size: 14px; /* TAMANHO DA FONTE DA BARRA */
    
}

.aviso p { /* TRATA DA FRASE TODA QUE FICA EMBAIXO DO MENU */
    

    line-height: 1.47059; /* DEFINE A ALTURA DA LINHA DA FRASE */
    
    padding: 12px 0; /* DISTANCIA DOS ELEMENTOS DA BORDA */
    
}

.aviso a { /* TRATA SOMENTE DO LINK DA FRASE EMBAIXO DO MENU */
    

    color: #06c; /* COR DA PALAVRA QUE E UM LINK */
    
    text-decoration: none; /* TIRA DECORAÇÃO DO TEXTO (ESTAVA SUBLINHADO POR SE TRATAR DE UM LINK) */
    
}

.aviso a:hover { /* ESTILIZA O LINK AO PASSAR O MOUSE */
    

    text-decoration: underline; /* INSERE UMA LINHA ABAIXO DA PALAVRA */
    

}

.iphone-se,
.iphone-11 { /* ESTILIZA TODA A SEÇÃO DO IPHONE SE E TAMBEM DO IPHONE 11 */
    

    width: 100%; /* DEFINE A LARGURA DA SECAO */
    
    height: 692px; /* DEFINE A ALTURA DA SECAO (QUE E O DA IMAGEM) */
    
    background-image: url(../css/img/bg1.jpg); /* DEFINE A IMAGEM DE FUNDO */
    background-position: center;
    
    
    
    color: #ffffff; /* DEFINE A COR DA LETRA DA SECAO */
    
    text-align: center; /* COLOCA A FRASE NO CENTRO DA SECAO */
    
    padding-top: 50px; /* ESPACO ENTRE A BORDA E A PALAVRA */
    

}

.iphone-se .titulo,
.iphone-11 .titulo { /* ESTILIZA OS ELEMENTOS DO TITULO DA SECAO */
    

    margin-bottom: 6px; /* DISTANCIA ENTRE OS ELEMENTOS, OU SEJA, DISTANCIA ENTRE O TITULO E SUBTITULO */
    
}

.iphone-se .subtitulo,
.iphone-11 .subtitulo { /* ESTILIZA OS ELEMENTOS DO SUBTITULO DA SECAO */
    

    margin-bottom: 12px; /* DISTANCIA ENTRE OS ELEMENTOS, OU SEJA, DISTANCIA ENTRE O TITULO E SUBTITULO */
    
}

.iphone-se a,
.iphone-11 a { /* ESTILIZA OS DOIS LINKS DENTRO DA SECAO */

    color: #2997ff; /* COLOCA A COR NO LINK */
    
    font-size: 21px; /* TAMANHO DA FONTE DO LINK */
    
    text-decoration: none; /* TIRA DECORAÇÃO DO TEXTO (ESTAVA SUBLINHADO POR SE TRATAR DE UM LINK) */
    
}

.iphone-se a:hover,
.iphone-11 a:hover {  /* TRATA DO QUE ACONTECE QUANDO PASSA O MOUSE */
    

    text-decoration: underline; /* COLOCA UM SUBLINHANDO QUANDO PASSA O MOUSE EM CIMA DO LINK */
    
}

.iphone-se a:last-child,
.iphone-11 a:last-child { /* TRATA O ULTIMO ELEMENTO DA SECAO */
    

    margin-left: 26px; /* ESPACO ENTRE OS ELEMENTOS (SAIBA MAIS E COMPRAR) */
    
}

.iphone-se a::after,
.iphone-11 a::after { /* PSEUDO ELO DA SECAO (PRA CONSEGUIR POR A SETA) */
    

    content: ''; /* NAO INSERE CONTEUDO NO PSEUDO ELEMENTO */
    
    display: inline-block; /* BLOCO EM LINHA AONDE SE PODE DEFINIR ALTURA E LARGURA */
    
    width: 7px; /* LARGURA DA IMAGEM (SETA) */
    
    height: 12px; /* ALTURA DA IMAGEM (SETA)*/
    
    background: url("../css/img/seta1.svg") no-repeat; /* LINK DA IMAGEM DE FUNDO (SEM REPETICAO) */
    background-position: center;
    
    padding-left: 6px; /* ESPACO ENTRE A SETA E A PALAVRA */
    

}

.iphone-11 { /* TRATA DA SECAO DO IPHONE 11 */
    

    margin-top: 12px; /* MARGEM ENTRE AS DUAS IMAGENS */
    
    background: url("../css/img/bg2.jpg") no-repeat; /* INSERE A IMAGEM DE FUNDO BRANCA DO IPHONE 11 */
    background-position: center;
    
    color: #1d1d1d; /* COMO O FUNDO E BRANCO TEM Q COLOCAR A COR PRETA PADRAO DO SITE */
    
}

.iphone-11 a::after { /* TRATA DA SETA DA SECAO IPHONE 11 */
    

    background: url("../css/img/seta2.svg") no-repeat; /* INSERE A SETA */
    
}

.iphone-11 a { /* TRATA DA COR DOS LINK DO IPHONE 11 (FUNDO BRANCO) */
    

    color: #06c; /* INSERE A COR A PALAVRA */
    

}





/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Ubuntu-Regular;
    src: url("../css/fonts/sf-pro-text-regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: Ubuntu-Bold;
    src: url("../css/fonts/sf-pro-text-regular.ttf") format("truetype"); 
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
      height: 1024px;
      font-family: Ubuntu-Regular, sans-serif;
  }
  
  /*---------------------------------------------*/
  a {
      font-family: Ubuntu-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
    color: #06c;
  }
  
  /*---------------------------------------------*/
  h1,h2,h3,h4,h5,h6 {
      margin: 0px;
  }
  
  p {
      
      font-family: Ubuntu-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
  }
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  
  /*---------------------------------------------*/
  input {
      outline: none;
      border: none;
  }
  
  textarea {
    outline: none;
    border: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  input::-webkit-input-placeholder { color: #8f8fa1;}
  input:-moz-placeholder { color: #8f8fa1;}
  input::-moz-placeholder { color: #8f8fa1;}
  input:-ms-input-placeholder { color: #8f8fa1;}
  
  textarea::-webkit-input-placeholder { color: #8f8fa1;}
  textarea:-moz-placeholder { color: #8f8fa1;}
  textarea::-moz-placeholder { color: #8f8fa1;}
  textarea:-ms-input-placeholder { color: #8f8fa1;}
  
  label {
    display: block;
    margin: 0px;
  }
  
  /*---------------------------------------------*/
  button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  button:hover {
      cursor: pointer;
  }
  
  iframe {
      border: none !important;
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Utility ]*/
  .txt1 {
    font-family: Ubuntu-Regular;
    font-size: 16px;
    color: #06c;
    line-height: 1.4;
  }
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ login ]*/
  
  .limiter {
    
    width: 1024px;
    margin: 0 auto;
  }
  
  .container-login100 {
    width: 1080px;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    padding: 100px;
    
    background-position: left top ;
    background-size: cover;
    background-repeat: no-repeat;;
  }
  
  
  .wrap-login100 {
    width: 420px;
    background: #fff;
    border-radius: 10px;
    position: relative;
  }
  
  
  /*==================================================================
  [ b]*/
  
  .login100-form {
    width: 100%;
  }
  
  .login100-form-title {
    font-family: Ubuntu-Bold;
    font-size: 30px;
    color: #06c;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
  
    width: 100%;
    display: block;
  }
  
  
  
  /*------------------------------------------------------------------
  [ Input ]*/
  
  .wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #ffffff;
    border: 1px solid rgb(173, 166, 169);
    border-radius: 12px;
  }
  
  
  /*---------------------------------------------*/
  .input100 {
    font-family: Ubuntu-Bold;
    color: #06c;
    line-height: 1.2;
    font-size: 18px;
  
    display: block;
    width: 100%;
    background: transparent;
    height: 62px;
    padding: 0 80px 0 20px;
  }
  /*------------------------------------------------------------------
  [ Focus Input ]*/
  
  .focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #0066cc;
    border-radius: 12px;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
  }
  
  .input100:focus + .focus-input100 {
    visibility: visible;
    opacity: 1;
  
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  
  .eff-focus-selection {
    visibility: visible;
    opacity: 1;
  
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  
  
  /*==================================================================
  [ Restyle Checkbox ]*/
  
  .input-checkbox100 {
    display: none;
    margin-bottom: 35px;
  }
  
  .label-checkbox100 {
    font-family: Ubuntu-Regular;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.2;
  
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    margin-bottom: 35px;
  }
  
  .label-checkbox100::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: transparent;
    margin-bottom: 35px;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background: #fff;
    border: 2px solid #06c;
    left: 0;
    top: 50%;
    padding: 150px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .input-checkbox100:checked + .label-checkbox100::before {
    color: #06c;
    
  }
  
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  
  .login100-form-btn {
    font-family: Ubuntu-Bold;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    width: 100%;
    height: 62px;
    background-color: #06c;
    border-radius: 20px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login100-form-btn:hover {
    background-color: #06c;
  }
  
  
  /*------------------------------------------------------------------
  [ Alert validate ]*/
  
  .validate-input {
    position: relative;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #06c;
    border: 1px solid #c80000;
    border-radius: 3px;
    padding: 4px 25px 5px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;
  
    font-family: Ubuntu-Regular;
    color: #c80000;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  
  .alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 18px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }

  h5 { /* TRATA DO SUBTITULO */

    margin-top: 18px;
    font-family: "SF Pro Text Regular", sans-serif; /* FONTE DO CORPO DO SITE, CASO NAO TENHA PEGA A OUTRA */
    font-size: 14px; /* TAMANHO DA FONTE DO H2 */
    line-height: 1.42859;
    font-weight: 400; /* INTENSIDADE DO NEGRITO DA FONTE */
    letter-spacing: -0.016em; /* ESPACAMENTO ENTRE OS CARACTERES DO TEXTO */
    margin-bottom: 35px;
    
}

h6{
    margin-top: 18px;
    font-size: 16px;
    font-family: "SF Pro Text Regular", sans-serif;
    color: #06c;
    font-weight: 400; /* INTENSIDADE DO NEGRITO DA FONTE */
    letter-spacing: -0.016em; /* ESPACAMENTO ENTRE OS CARACTERES DO TEXTO */

}
h6 c:hover{
    margin-top: 18px;
    font-size: 16px;
    font-family: "SF Pro Text Regular", sans-serif;
    color: #06c;
    font-weight: 400; /* INTENSIDADE DO NEGRITO DA FONTE */
    letter-spacing: -0.016em; /* ESPACAMENTO ENTRE OS CARACTERES DO TEXTO */
    text-decoration: underline;
}

h7{
    
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    font-family: "SF Pro Text Regular", sans-serif;
    color: #1d1d1f;
    letter-spacing: 0; /* ESPACAMENTO ENTRE OS CARACTERES DO TEXTO */
    padding-right: 100px;

}
h8{

    font-size: 16px;
    color: #1d1d1f;
}

h9 a  {
  padding-top: 20px;
  margin-top: 100px;
  font-size: 16px;
  font-family: "SF Pro Text Regular", sans-serif;
  color: #06c;
  font-weight: 400; /* INTENSIDADE DO NEGRITO DA FONTE */
  letter-spacing: -0.016em; /* ESPACAMENTO ENTRE OS CARACTERES DO TEXTO */

}
h9 a:hover{
  margin-top: 18px;
  font-size: 16px;
  font-family: "SF Pro Text Regular", sans-serif;
  color: #06c;
  font-weight: 400; /* INTENSIDADE DO NEGRITO DA FONTE */
  letter-spacing: -0.016em; /* ESPACAMENTO ENTRE OS CARACTERES DO TEXTO */
  text-decoration: underline;
}

.barracadastro { /* TRATA DA BARRA EMBAIXO DO MENU */
    
  text-align: left; /* COLOCA A FRASE DENTRO DA BARRA NO CENTRO */
  
  font-size: 8px; /* TAMANHO DA FONTE DA BARRA */
  
}

.barracadastro p { /* TRATA DA FRASE TODA QUE FICA EMBAIXO DO MENU */
  

  line-height: 1.47059; /* DEFINE A ALTURA DA LINHA DA FRASE */
  
  padding: 12px 130px; /* DISTANCIA DOS ELEMENTOS DA BORDA */
  
}
.barracadastro .id {

  font-family: "SF Pro Text Regular", sans-serif;
  padding: 0 410px;
  font-size: 24px;
  text-align: left;
  color: #1d1d1f;
  font-weight: 600;
}

.crieid { /* ESTILIZA TODA A SEÇÃO DO IPHONE SE E TAMBEM DO IPHONE 11 */
    

    width: 100%; /* DEFINE A LARGURA DA SECAO */
    
    height: 130px; /* DEFINE A ALTURA DA SECAO (QUE E O DA IMAGEM) */
    
    background-image: url(../css/img/fundo.jpeg); /* DEFINE A IMAGEM DE FUNDO */
    background-position: center;
    
    
    
    color: #ffffff; /* DEFINE A COR DA LETRA DA SECAO */
    
    text-align: center; /* COLOCA A FRASE NO CENTRO DA SECAO */
    
    padding-top: 50px; /* ESPACO ENTRE A BORDA E A PALAVRA */
    
}

.crieid h1 { /* ESTILIZA OS DOIS LINKS DENTRO DA SECAO */

    color: #ffffff; /* COLOCA A COR NO LINK */
    
    font-size: 40px; /* TAMANHO DA FONTE DO LINK */
    
    text-decoration: none; /* TIRA DECORAÇÃO DO TEXTO (ESTAVA SUBLINHADO POR SE TRATAR DE UM LINK) */
}

.formcadastro{ /* ESTILIZA TODA A SEÇÃO DO IPHONE SE E TAMBEM DO IPHONE 11 */
    

    width: 100%; /* DEFINE A LARGURA DA SECAO */
    
    height: 200px; /* DEFINE A ALTURA DA SECAO (QUE E O DA IMAGEM) */
    
    background-position: center;
    
    color: #1d1d1d; /* DEFINE A COR DA LETRA DA SECAO */
    
    text-align: center; /* COLOCA A FRASE NO CENTRO DA SECAO */
    
    padding-top: 50px; /* ESPACO ENTRE A BORDA E A PALAVRA */

    font-size: 40px;
    

}

.formcadastro h1 { /* ESTILIZA OS ELEMENTOS DO TITULO DA SECAO */
    
    font-family: "SF Pro Text Regular", sans-serif;
    margin-bottom: 6px; /* DISTANCIA ENTRE OS ELEMENTOS, OU SEJA, DISTANCIA ENTRE O TITULO E SUBTITULO */
    font-size: 17px;
    font-weight: 50;
    
}

.formcadastro h2{ /* ESTILIZA OS ELEMENTOS DO SUBTITULO DA SECAO */
    
    font-family: "SF Pro Text Regular", sans-serif;
    margin-bottom: 12px; /* DISTANCIA ENTRE OS ELEMENTOS, OU SEJA, DISTANCIA ENTRE O TITULO E SUBTITULO */
    font-size: 17px;
    font-weight: 50;
    
}

.formcadastro h2 a {
  text-align: center;
  font-size: 17px;
  color: #06c;
}


form{

  font-family: "SF Pro Text Regular", sans-serif;
  background-color: white;
  border-radius: 20px;
  font-size: 10px;
  padding: 10px;
  margin: 0 auto;
  width: 300px;
  position: relative;
}

input, textarea{
  font-size: 16px;
  font-family: "SF Pro Text Regular", sans-serif;
  border: 20px;
  outline-color: #06c;
  width: 280px;
  
}

.field input{

  margin-bottom: 15px;
  border-radius: 20px;
  border: solid 1px #8f8fa1;
  padding: 18px;

  
}

.field:focus{
  border-color: #06c;
}

.center-content{

  font-size: 20px;
  padding-top: 10px;
  border-radius: 20px;
  text-align: center;
}

.btn{
  font-size: 20px;
	border-radius: 20px;
	display: inline-block;
	padding: 20px 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
}

.btn-green{
	color: white;
	background-color: #06c;
}

.btn-black{
	color: #ddd;
	background-color: #222;
}
.btn-green:hover{
	background-color: #06c;	
}
.btn-green:active{
	background-color: #06c;
}

  /*//////////////////////////////////////////////////////////////////
  [ Responsive ]*/
  