<!DOCTYPE html> <!-- DOCUMENTO TIPO HTML -->

<html lang="pt-br"> <!-- LINGUAGEM PT-BR - BRASIL -->

<head> <!-- LOCAL AONDE SE INSERE DADOS DO DOCUMENTO, TITULO E LINKS -->

    <meta chaset="UTF-8" /> <!-- UTF - 8 COM ACENTOS -->
    <title>Postagem de conteudo</title> <!-- NOME QUE APARECE NA ABA  -->
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" /> <!-- LARGURA =  DISPOSITIVO, ESCALA = 1, ENCOLHER PRA CABER = NAO -->

 

    
</head>
<body> <!-- CONTEUDO DA PAGINA INICIAL (BODY) -->
    

    <header class="header"> <!-- CABECALHO DA PAGINA  -->
       
   
    </header>
    <div class="content">

  
        <form action="/news" method="post" enctype="multipart/form-data">
            <label>Insira abaixo o Titulo do seu Texto: </label><br>
            <input id="story1" name="title" method="post"/><br>
            <label>Insira abaixo o seu Texto: </label><br>
            <textarea id="txtArea" rows="10" cols="70" name ="content" method="post"></textarea><br>
            <input type="file" name="img" />
            <input type="submit" value="postar"/>

        </form>    
            

      

        
    </div>

    
    


</body> <!-- FIM DO CORPO DO HTML -->
</html> <!-- FIM DO HTML -->