<!DOCTYPE html> <!-- DOCUMENTO TIPO HTML -->

<html lang="pt-br"> <!-- LINGUAGEM PT-BR - BRASIL -->

<head> <!-- LOCAL AONDE SE INSERE DADOS DO DOCUMENTO, TITULO E LINKS -->

    <meta chaset="UTF-8" /> <!-- UTF - 8 COM ACENTOS -->
    <title>{{title}}</title> <!-- NOME QUE APARECE NA ABA  -->
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" /> <!-- LARGURA =  DISPOSITIVO, ESCALA = 1, ENCOLHER PRA CABER = NAO -->

 

    
</head>
<body> 
    


    
    


</body> <!-- FIM DO CORPO DO HTML -->
</html> <!-- FIM DO HTML -->